.home {
  width: 80%;
  margin: 3rem auto 1rem;
}

.home h2 {
  font-size: 1.8rem;
  padding-bottom: 2.9rem;
  color: var(--orange);
}

.home p {
  font-size: 1.3rem;
  text-align: justify;
  color: var(--white);
}

.definition-two {
  padding-top: 2.4rem;
}
