:root {
  /* primary colors */
  --black: #000;
  --white: #fff;
  --gray: #858693;
  --light-gray: #e0e0e0;
  --blur: #d1d1d1;
  --orange: #f5913e;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3% auto;
}

.screen {
  background-color: var(--gray);
  border-top: 1px solid var(--white);
  color: white;
  padding: 20px 0;
  font-size: 40px;
  text-align: right;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-size: 32px;
  text-align: center;
  padding: 20px 0;
  background-color: var(--light-gray);
  display: inline-block;
  outline: none;
  border: 1px solid var(--blur);
  font-weight: bold;
  cursor: pointer;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.orange {
  background-color: var(--orange);
}
