/* global styling  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(224, 220, 220);
  position: relative;
}
